src/Wordclock.WSRenderEngine/Web References/RenderService/Application.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xop="http://www.w3.org/2004/08/xop/include" xmlns:s12enc="http://www.w3.org/2003/05/soap-encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:tns="tns" xmlns:senc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s12env="http://www.w3.org/2003/05/soap-envelope/" xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:senv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Application" targetNamespace="tns" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="tns">
      <xs:import namespace="http://www.w3.org/2001/XMLSchema" />
      <xs:complexType name="dispose">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="disposeResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getNumberOfLEDs">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getNumberOfLEDsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="getNumberOfLEDsResult" nillable="true" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPixelColor">
        <xs:sequence>
          <xs:element minOccurs="0" name="ledID" nillable="true" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPixelColorResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="getPixelColorResult" nillable="true" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="initialize">
        <xs:sequence>
          <xs:element minOccurs="0" name="ledCount" nillable="true" type="xs:integer" />
          <xs:element minOccurs="0" name="ledPin" nillable="true" type="xs:integer" />
          <xs:element minOccurs="0" name="ledFrequence" nillable="true" type="xs:integer" />
          <xs:element minOccurs="0" name="ledDMA" nillable="true" type="xs:integer" />
          <xs:element minOccurs="0" name="ledInvert" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="ledBrightness" nillable="true" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="initializeResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="setBrightness">
        <xs:sequence>
          <xs:element minOccurs="0" name="brightness" nillable="true" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setBrightnessResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="setPixelAndRender">
        <xs:sequence>
          <xs:element minOccurs="0" name="renderString" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setPixelAndRenderResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="setPixelColor">
        <xs:sequence>
          <xs:element minOccurs="0" name="ledID" nillable="true" type="xs:integer" />
          <xs:element minOccurs="0" name="red" nillable="true" type="xs:integer" />
          <xs:element minOccurs="0" name="green" nillable="true" type="xs:integer" />
          <xs:element minOccurs="0" name="blue" nillable="true" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setPixelColorResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="setPixelColors">
        <xs:sequence>
          <xs:element minOccurs="0" name="ids" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="red" nillable="true" type="xs:integer" />
          <xs:element minOccurs="0" name="green" nillable="true" type="xs:integer" />
          <xs:element minOccurs="0" name="blue" nillable="true" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setPixelColorsResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="show">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="showResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="shutdown">
        <xs:sequence>
          <xs:element minOccurs="0" name="ab" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="shutdownResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="testService">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="testServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="testServiceResult" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="dispose" type="tns:dispose" />
      <xs:element name="disposeResponse" type="tns:disposeResponse" />
      <xs:element name="getNumberOfLEDs" type="tns:getNumberOfLEDs" />
      <xs:element name="getNumberOfLEDsResponse" type="tns:getNumberOfLEDsResponse" />
      <xs:element name="getPixelColor" type="tns:getPixelColor" />
      <xs:element name="getPixelColorResponse" type="tns:getPixelColorResponse" />
      <xs:element name="initialize" type="tns:initialize" />
      <xs:element name="initializeResponse" type="tns:initializeResponse" />
      <xs:element name="setBrightness" type="tns:setBrightness" />
      <xs:element name="setBrightnessResponse" type="tns:setBrightnessResponse" />
      <xs:element name="setPixelAndRender" type="tns:setPixelAndRender" />
      <xs:element name="setPixelAndRenderResponse" type="tns:setPixelAndRenderResponse" />
      <xs:element name="setPixelColor" type="tns:setPixelColor" />
      <xs:element name="setPixelColorResponse" type="tns:setPixelColorResponse" />
      <xs:element name="setPixelColors" type="tns:setPixelColors" />
      <xs:element name="setPixelColorsResponse" type="tns:setPixelColorsResponse" />
      <xs:element name="show" type="tns:show" />
      <xs:element name="showResponse" type="tns:showResponse" />
      <xs:element name="shutdown" type="tns:shutdown" />
      <xs:element name="shutdownResponse" type="tns:shutdownResponse" />
      <xs:element name="testService" type="tns:testService" />
      <xs:element name="testServiceResponse" type="tns:testServiceResponse" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="dispose">
    <wsdl:part name="dispose" element="tns:dispose" />
  </wsdl:message>
  <wsdl:message name="disposeResponse">
    <wsdl:part name="disposeResponse" element="tns:disposeResponse" />
  </wsdl:message>
  <wsdl:message name="getNumberOfLEDs">
    <wsdl:part name="getNumberOfLEDs" element="tns:getNumberOfLEDs" />
  </wsdl:message>
  <wsdl:message name="getNumberOfLEDsResponse">
    <wsdl:part name="getNumberOfLEDsResponse" element="tns:getNumberOfLEDsResponse" />
  </wsdl:message>
  <wsdl:message name="getPixelColor">
    <wsdl:part name="getPixelColor" element="tns:getPixelColor" />
  </wsdl:message>
  <wsdl:message name="getPixelColorResponse">
    <wsdl:part name="getPixelColorResponse" element="tns:getPixelColorResponse" />
  </wsdl:message>
  <wsdl:message name="initialize">
    <wsdl:part name="initialize" element="tns:initialize" />
  </wsdl:message>
  <wsdl:message name="initializeResponse">
    <wsdl:part name="initializeResponse" element="tns:initializeResponse" />
  </wsdl:message>
  <wsdl:message name="setBrightness">
    <wsdl:part name="setBrightness" element="tns:setBrightness" />
  </wsdl:message>
  <wsdl:message name="setBrightnessResponse">
    <wsdl:part name="setBrightnessResponse" element="tns:setBrightnessResponse" />
  </wsdl:message>
  <wsdl:message name="setPixelAndRender">
    <wsdl:part name="setPixelAndRender" element="tns:setPixelAndRender" />
  </wsdl:message>
  <wsdl:message name="setPixelAndRenderResponse">
    <wsdl:part name="setPixelAndRenderResponse" element="tns:setPixelAndRenderResponse" />
  </wsdl:message>
  <wsdl:message name="setPixelColor">
    <wsdl:part name="setPixelColor" element="tns:setPixelColor" />
  </wsdl:message>
  <wsdl:message name="setPixelColorResponse">
    <wsdl:part name="setPixelColorResponse" element="tns:setPixelColorResponse" />
  </wsdl:message>
  <wsdl:message name="setPixelColors">
    <wsdl:part name="setPixelColors" element="tns:setPixelColors" />
  </wsdl:message>
  <wsdl:message name="setPixelColorsResponse">
    <wsdl:part name="setPixelColorsResponse" element="tns:setPixelColorsResponse" />
  </wsdl:message>
  <wsdl:message name="show">
    <wsdl:part name="show" element="tns:show" />
  </wsdl:message>
  <wsdl:message name="showResponse">
    <wsdl:part name="showResponse" element="tns:showResponse" />
  </wsdl:message>
  <wsdl:message name="shutdown">
    <wsdl:part name="shutdown" element="tns:shutdown" />
  </wsdl:message>
  <wsdl:message name="shutdownResponse">
    <wsdl:part name="shutdownResponse" element="tns:shutdownResponse" />
  </wsdl:message>
  <wsdl:message name="testService">
    <wsdl:part name="testService" element="tns:testService" />
  </wsdl:message>
  <wsdl:message name="testServiceResponse">
    <wsdl:part name="testServiceResponse" element="tns:testServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="Application">
    <wsdl:operation name="dispose" parameterOrder="dispose">
      <wsdl:input name="dispose" message="tns:dispose" />
      <wsdl:output name="disposeResponse" message="tns:disposeResponse" />
    </wsdl:operation>
    <wsdl:operation name="getNumberOfLEDs" parameterOrder="getNumberOfLEDs">
      <wsdl:input name="getNumberOfLEDs" message="tns:getNumberOfLEDs" />
      <wsdl:output name="getNumberOfLEDsResponse" message="tns:getNumberOfLEDsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPixelColor" parameterOrder="getPixelColor">
      <wsdl:input name="getPixelColor" message="tns:getPixelColor" />
      <wsdl:output name="getPixelColorResponse" message="tns:getPixelColorResponse" />
    </wsdl:operation>
    <wsdl:operation name="initialize" parameterOrder="initialize">
      <wsdl:input name="initialize" message="tns:initialize" />
      <wsdl:output name="initializeResponse" message="tns:initializeResponse" />
    </wsdl:operation>
    <wsdl:operation name="setBrightness" parameterOrder="setBrightness">
      <wsdl:input name="setBrightness" message="tns:setBrightness" />
      <wsdl:output name="setBrightnessResponse" message="tns:setBrightnessResponse" />
    </wsdl:operation>
    <wsdl:operation name="setPixelAndRender" parameterOrder="setPixelAndRender">
      <wsdl:input name="setPixelAndRender" message="tns:setPixelAndRender" />
      <wsdl:output name="setPixelAndRenderResponse" message="tns:setPixelAndRenderResponse" />
    </wsdl:operation>
    <wsdl:operation name="setPixelColor" parameterOrder="setPixelColor">
      <wsdl:input name="setPixelColor" message="tns:setPixelColor" />
      <wsdl:output name="setPixelColorResponse" message="tns:setPixelColorResponse" />
    </wsdl:operation>
    <wsdl:operation name="setPixelColors" parameterOrder="setPixelColors">
      <wsdl:input name="setPixelColors" message="tns:setPixelColors" />
      <wsdl:output name="setPixelColorsResponse" message="tns:setPixelColorsResponse" />
    </wsdl:operation>
    <wsdl:operation name="show" parameterOrder="show">
      <wsdl:input name="show" message="tns:show" />
      <wsdl:output name="showResponse" message="tns:showResponse" />
    </wsdl:operation>
    <wsdl:operation name="shutdown" parameterOrder="shutdown">
      <wsdl:input name="shutdown" message="tns:shutdown" />
      <wsdl:output name="shutdownResponse" message="tns:shutdownResponse" />
    </wsdl:operation>
    <wsdl:operation name="testService" parameterOrder="testService">
      <wsdl:input name="testService" message="tns:testService" />
      <wsdl:output name="testServiceResponse" message="tns:testServiceResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Application" type="tns:Application">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dispose">
      <soap:operation soapAction="dispose" style="document" />
      <wsdl:input name="dispose">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="disposeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfLEDs">
      <soap:operation soapAction="getNumberOfLEDs" style="document" />
      <wsdl:input name="getNumberOfLEDs">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getNumberOfLEDsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPixelColor">
      <soap:operation soapAction="getPixelColor" style="document" />
      <wsdl:input name="getPixelColor">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPixelColorResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initialize">
      <soap:operation soapAction="initialize" style="document" />
      <wsdl:input name="initialize">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="initializeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setBrightness">
      <soap:operation soapAction="setBrightness" style="document" />
      <wsdl:input name="setBrightness">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setBrightnessResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPixelAndRender">
      <soap:operation soapAction="setPixelAndRender" style="document" />
      <wsdl:input name="setPixelAndRender">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setPixelAndRenderResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPixelColor">
      <soap:operation soapAction="setPixelColor" style="document" />
      <wsdl:input name="setPixelColor">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setPixelColorResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPixelColors">
      <soap:operation soapAction="setPixelColors" style="document" />
      <wsdl:input name="setPixelColors">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setPixelColorsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="show">
      <soap:operation soapAction="show" style="document" />
      <wsdl:input name="show">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="showResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shutdown">
      <soap:operation soapAction="shutdown" style="document" />
      <wsdl:input name="shutdown">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="shutdownResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testService">
      <soap:operation soapAction="testService" style="document" />
      <wsdl:input name="testService">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="testServiceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Application">
    <wsdl:port name="Application" binding="tns:Application">
      <soap:address location="http://192.168.2.35:7791/wsdl" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>